@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    color: #333;
    background-color: #f9f9f9;
}

#credit-card fields, #paypal fields{
    display: none;
}

header {
    background-color: #333;
    color: #f9f9f9;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

img {
    max-width: 200px;
    height: auto;
    float: left;
    padding: 20px;
}

h2 {
    font-weight: 500;
    font-size: 1.5em;
}

p {
  font-weight: 400;
  font-size: 1em;
}

form {
  display: grid;
  grid-gap: 10px; 
  padding: 20px;
  background-color: #fff;
}

form div {
    display: flex;
    align-items: center;
}

form div input,
form div label {
    margin-right: 100px;
}


form label {
    font-weight: 600;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form input[type="date"],
form select {
    padding: 10px;
    font-size: 1em;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #f9f9f9;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #666;
}

#credit-card-fields div{
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    body {
        grid-template-columns: repeat(2, 1fr);
        font-family: 'Times New Roman', Times, serif;
    }
}